* {
    font-family: sans-serif;
    color: red;
}

body {
    background-image: url('https://cdn.wallpapersafari.com/3/79/GeWNcF.jpg');
}

.header {
    font-size: 5rem;
    text-align: center;
    background: -webkit-linear-gradient(#CA0404, #FFFFFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-size: 3.5rem;
    margin-left: 6rem;
}

li {
    list-style: none;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-left: 7rem;
}

#gender {
    text-transform: capitalize;
}